<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>First quiz</h1>
    <ol>
        {% for row in firstQuiz %}
            <li>{{ row[1] }}</li> <!-- Display the question -->
            <ul>
                <li>{{ row[2] }}</li>
                <li>{{ row[3] }}</li>
                <li>{{ row[4] }}</li>
                <li>{{ row[5] }}</li>
            </ul>
        {% endfor %}
    </ol>
</body>
</html>