<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Include Fluent UI CSS here if necessary -->
    <link rel="stylesheet" href="path/to/fluentui.css">
    <!-- Include your own custom styles if necessary -->
    <link rel="stylesheet" href="/static/login.css"> 
</head>
<body>
    <div class="root">
        <div class="body">
            <div class="header">
                <h2>Hello!</h2> 
                <p>Log in to Continue</p>
            </div>
            <div class="formContainer">
                <form method="post">
                    <div class="form" >
                        <label for="usertype"> Select user type:</label>
                        <select name="usertype" id="usertype">
                            <option value="client">Client</option>
                            <option value="student" selected>Student</option>
                        </select>
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" required>
                        
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" required>
                        
                        <button type="submit">Log in</button>
                    </div>
                </form>
            </div>
        </div>
        <div>
            <img alt="signup image" src="https://images.unsplash.com/photo-1484242857719-4b9144542727?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1280&q=80" height="600" width="700">
        </div>
    </div>
</body>
</html>