<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Material</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.11.338/pdf.min.js"></script>
    <link rel="stylesheet" href="/static/material.css">
</head>

<body>
    {% if data in ['reading', 'kinematics', 'Modular'] %}
    {% if material %}
        <div class="main">
            <div">
                <button id="prevPageBtn" class="navigation-btn">Previous Page</button>
                <button id="nextPageBtn" class="navigation-btn">Next Page</button>
        </div>
        <canvas id="pdfCanvas" data-url="{{ material }}"></canvas>
    </div>
    {% endif %}
    {% elif data == 'visual' %}
    <div class="video-container">
        <video controls>
            <source src="{{ material }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    {% elif data == 'auditory' %}
    <div class="media-container">
        <audio controls>
            <source src="{{ material }}" type="audio/mpeg">
            Your browser does not support the audio tag.
        </audio>
    </div>

    {% endif %}

</body>

<script>
    // PDF.js script has been loaded, let's start working with it
    const url = document.getElementById('pdfCanvas').getAttribute('data-url');
    console.log(url)

    // const url = 'https://readingm.s3.ap-south-1.amazonaws.com/6979f64718d145a6bcf638992fc534bc.pdf'
    let currentPage = 1;
    let pdfInstance = null;

    // Asynchronous download PDF
    const loadingTask = pdfjsLib.getDocument(url);
    loadingTask.promise.then(function (pdf) {
        console.log('PDF loaded');
        pdfInstance = pdf;

        // Displaying the first page
        renderPage(currentPage);
    }, function (reason) {
        // PDF loading error
        console.error('Error: ' + reason);
    });

    function renderPage(pageNumber) {
        pdfInstance.getPage(pageNumber).then(function (page) {
            console.log('Page ' + pageNumber + ' loaded');

            const scale = 1.5;
            const viewport = page.getViewport({ scale: scale });

            // Prepare canvas using PDF page dimensions
            const canvas = document.getElementById('pdfCanvas');
            const context = canvas.getContext('2d');
            canvas.height = viewport.height;
            canvas.width = viewport.width;

            // Render PDF page into canvas context
            const renderContext = {
                canvasContext: context,
                viewport: viewport
            };
            page.render(renderContext);
        });
    }

    document.getElementById('prevPageBtn').addEventListener('click', function () {
        if (pdfInstance && currentPage > 1) {
            currentPage--;
            renderPage(currentPage);
        }
    });

    document.getElementById('nextPageBtn').addEventListener('click', function () {
        if (pdfInstance && currentPage < pdfInstance.numPages) {
            currentPage++;
            renderPage(currentPage);
        }
    });
</script>

</html>