<!-- upload_files.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Files</title>
</head>
<body>
    <h1>Upload Files</h1>

    <form method="post" enctype="multipart/form-data">
        
        <!-- Visual File -->
        <label for="visual_file">Visual File:</label>
        <input type="file" name="visual_file" accept=".mp4, .avi, .mov" required>
        <br>

        <!-- Auditory File -->
        <label for="auditory_file">Auditory File:</label>
        <input type="file" name="auditory_file" accept=".mp4, .avi, .mov" required>
        <br>

        <!-- Reading File -->
        <label for="reading_file">Reading File:</label>
        <input type="file" name="reading_file" accept=".txt, .pdf, .docx" required>
        <br>

        <!-- Difficulty -->
        <label for="difficulty">Difficulty:</label>
        <input type="text" name="difficulty" required>
        <br>


        <!-- Lesson Id -->
        <label for="lessonId">Lesson Id:</label>
        <input type="text" name="lessonId" required>
        <br>

        <button type="submit">Upload Files</button>
    </form>
</body>
</html>