body {
    background-image: url('../static/heroimage7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;

}

.display {
    display: flex;
    flex-direction: column;
    padding: 10% 0% 0% 10%;
    gap: 64px;
}

.button {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

button {
    width: 200px;
    height: 50px;
    font-size: large;
    border: none;
    border-radius: 8px;
    color: rgb(12, 28, 43);
    background-color: aliceblue;
}

button:hover  {
    background-color: rgb(206, 228, 248);
}

h1 {
    font-size: 100px;
    color: aliceblue;
}