body {
    font-family: Arial, sans-serif;
    background-color: #cfe4fa; /* Light background color */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full viewport height */
}

#result-container {
    text-align: center; /* Center text */
    background-color: white;
    border-radius: 8px; /* Rounded corners */
    padding: 20px; /* Padding inside the container */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Shadow for depth */
}

h2 {
    color: #333; /* Dark text color */
}

p {
    color: #555; /* Medium text color */
}

button {
    background-color: #0f6cbd; /* Blue background */
    color: white; /* White text */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px 20px; /* Padding */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth transition */
}

button:hover {
    background-color: #115ea3;
}

button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}